.container
{
    margin-top: 7%;
}

.main-class
{   

    box-shadow: 0px 4px 8px 0px #5c5c5c;
    margin: 60px;
    width: 30%; 
    margin-left: 35%;
}
.card-one
{
  
   padding: 40px;
   
}
.card-one input
{
    margin-top: 20px;
}
.card-one button
{
    width: 100%;
    margin-top: 20px;
    border: none;
    padding: 10px;
}
.card-one h1
{
    color: #0d366b;
}